.sizesContainer {
	display: flex;
	gap: var(--spacing-standard);
	align-items: center;
}

.sizeItem {
	display: flex;
	flex-direction: column;
}

.sizeLabel {
	margin-bottom: var(--spacing-2xs);
	font-size: var(--font-size-xs);
	color: var(--color-text-secondary);
}
