@use '../../../../styles/typography';
@use '../../styles/variables' as vars;
@use '../../styles/mixins' as table-mixins;

.tableRow {
	&:not(:last-child) {
		.tableCell,
		.selectableCell,
		.expandableCell {
			border-bottom: vars.$border-width solid var(--color-border-secondary);
		}
	}

	&:hover {
		background-color: var(--color-background-secondary);
	}

	&[data-state='selected'] {
		background-color: var(--color-background-selected-weak);
	}

	&[data-state='active'] {
		background-color: var(--color-background-selected-weak);
	}

	&.clickableRow {
		cursor: pointer;
	}

	&.rowNoBorder {
		border-bottom: none;
	}

	&.expanded {
		@include table-mixins.expanded-row-border('top');
	}

	&.sizeSmall {
		height: var(--ds-table-row-small);
	}

	&.sizeMedium {
		height: var(--ds-table-row-medium);
	}

	&.sizeLarge {
		height: var(--ds-table-row-large);
	}
}

.expandedRow {
	background-color: var(--color-background-secondary);

	& > td {
		padding: var(--spacing-standard);
	}

	@include table-mixins.expanded-row-border('bottom');
}

.cellReorder {
	width: vars.$reorder-column-width;
	text-align: center;

	&.isDragging {
		background: var(--color-background-action);

		.rowDragHandle {
			color: var(--color-secondary-white);
		}
	}
}

.tableCell,
.selectableCell,
.expandableCell {
	@include typography.body-sm-reg;
	vertical-align: middle;
	color: var(--color-font-main);
}

.tableCell {
	padding: 0 var(--spacing-standard);
}

.expandToggleButton {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	transition-property: opacity, background-color;
}
