.segmentGroupRoot {
	display: inline-flex;
	align-items: center;
	position: relative;
	background: var(--color-background-secondary);
	border: 1px solid var(--color-border-contrast);
	border-radius: 4px;
	gap: var(--spacing-2xs);
	height: 36px;
	padding: var(--spacing-3xs);

	&.small {
		height: 28px;
		padding: var(--spacing-4xs);

		.segmentItem {
			padding: var(--spacing-4xs) var(--spacing-xs);
		}
	}
}

.segmentItem {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--spacing-3xs) var(--spacing-sm);
	gap: var(--spacing-2xs);
	flex: 1;
	z-index: 1;
	cursor: pointer;
	border-radius: 4px;

	&[data-state='checked'] {
		.segmentItemText {
			color: var(--color-font-main);
			font-weight: var(--font-weight-medium);
		}
	}

	&[data-state='unchecked'] {
		background: transparent;

		.segmentItemText {
			color: var(--color-background-action);
		}

		&:hover:not([data-disabled]) {
			background: var(--color-background-action-secondary);
		}

		&:active:not([data-disabled]) {
			background: var(--color-background);
			border-color: var(--color-border-contrast);
		}
	}

	&[data-disabled] {
		cursor: not-allowed;
		background: var(--color-background-secondary);

		.segmentItemText {
			color: var(--color-font-disabled);
		}
	}

	&:focus-visible {
		outline: 2px solid var(--color-border-action-secondary);
		outline-offset: 2px;
	}
}

[data-scope='segment-group'][data-part='item-control'] {
	position: absolute;
	inset: 0;
	pointer-events: none;
}

.segmentItemText {
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	transition: color 150ms ease-in-out;
}

.segmentIndicator {
	position: absolute;
	background: var(--color-background);
	border: 1px solid var(--color-border-contrast);
	border-radius: 4px;
	box-shadow: 0 1.25px 4px 0 rgba(0, 0, 0, 0.25);
	z-index: 0;
	pointer-events: none;
	width: var(--width);
	height: var(--height);
	left: var(--left);
	top: var(--top);
}
