.controlledContainer {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
}

.selectedValue {
	font-size: 14px;
	color: var(--color-secondary-700);
	padding: 8px 16px;
	background: var(--color-secondary-100);
	border-radius: 4px;
}
