.showcaseContainer {
	background: var(--color-gray-100);
	padding: 24px;
	overflow: auto;
}

.showcaseTable {
	border-collapse: collapse;
	width: 100%;
}

.showcaseHeader {
	text-align: center;
	vertical-align: middle;
	padding: 16px;
}

.showcaseCell {
	padding: 16px;
	text-align: center;
	vertical-align: middle;
}

.showcaseCellBold {
	font-weight: bold;
	padding-right: 8px;
}

.showcaseCellInline {
	display: inline-block;
}

.showcaseCellDark {
	background: var(--color-brand-500-default);
	color: var(--color-secondary-white);
}
