// all colors are defined in https://www.figma.com/design/5BjP3KnzlfAxTbdx1srK48/%F0%9F%A6%BE-DAP-Design-System?node-id=4804-92173&p=f&m=dev
$colors: (
  // Primary
  deep-blue: #001A47,
  white: #ffffff,
  black: #000000,
  // Gradient (Specials)
  gradient-violet-background: linear-gradient(90deg, #001B48 -0.12%, #312E81 99.86%),
  gradient-violet-transparent: linear-gradient(180deg, rgba(30, 89, 215, 0.40) 0%, rgba(0, 27, 72, 0.16) 100%),
  gradient-blue-light: linear-gradient(116deg, #E9EEFC 22.81%, #D6E2FF 99.14%),
  // Neutral
  neutral-1: #2C3A4B,
  neutral-2: #4C5F76,
  neutral-3: #6c7b8e,
  neutral-4: #8B98A6,
  neutral-5: #a0aab7,
  neutral-6: #b3bfd1,
  neutral-7: #C2CEDF,
  neutral-8: #dee6f1,
  neutral-9: #eaecef,
  neutral-10: #F3F5FA,
  neutral-bg: #DAE2F4,
  // Action
  action-cta1: #0064FA,
  action-cta2: #579AFF,
  action-cta3: #6B7B8E,
  action-active-light: #C7D8FF,
  action-hover-light: #E0EAFF,
  action-disabled: #B0B4BF,
  // System Status
  system-status-ok: #067A00,
  system-status-info: #005DCF,
  system-status-error: #D70A00,
  system-status-alert: #D04D07,
  system-status-in-progress: #1513DA,
  system-status-pending: #8836D6,
  // Utility
  utility-ok: #D6F5CF,
  utility-info: #C4DCFF,
  utility-error: #FFD8D6,
  utility-alert: #FFEAC0,
  utility-in-progress: #D9D9FF,
  utility-pending: #EDE2FF,
  utility-disabled: #E3E3E3,
  // Map / Scheme
  map-and-scheme-line-layer-0: #5452F6,
  map-and-scheme-line-layer-01: #CC4C5F,
  map-and-scheme-line-layer-02: #00894D,
  map-and-scheme-line-layer-1-optical: #3B8EDB,
  map-and-scheme-line-layer-2-ethernet: #00B8D9,
  map-and-scheme-line-layer-3-routing: #9A55E0,
  map-and-scheme-service-overlay: #C30EDE,
  map-and-scheme-pops-core-zones: #A92A00,
  map-and-scheme-line-optional-1: #DA7B2D,
);

@mixin applyRootColors($colors) {
  :root {
    @each $name, $color in $colors {
      #{'--' + $name}: #{$color};
    }
  }
}

@include applyRootColors($colors);
