// typography
$font-family-primary: 'Roboto', 'Helvetica Neue', sans-serif;
$font-family-base: 'Roboto';
$font-family-code: 'Fira Mono', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-size-h1: 42px;
$font-size-h2: 36px;
$font-size-h3: 32px;
$font-size-h4: 24px;
$font-size-h5: 20px;
$font-size-h6: 18px;
$font-size-h7: 16px;
$font-size-p-xl: 18px;
$font-size-p-lg: 16px;
$font-size-p-base: 14px;
$font-size-p-special: 14px;
$font-size-p-s: 12px;
$font-size-action: 20px;
$font-size-action-lg: 18px;
$font-size-action-med: 16px;
$font-size-action-small: 14px;
$line-height-h1: 64px;
$line-height-h2: 54px;
$line-height-h3: 48px;
$line-height-h4: 36px;
$line-height-h5: 30px;
$line-height-h6: 28px;
$line-height-h7: 24px;
$line-height-p-xl: 28px;
$line-height-p-lg: 24px;
$line-height-p-base: 20px;
$line-height-p-special: 24px;
$line-height-p-s: 18px;
$line-height-action: 30px;
$line-height-action-lg: 28px;
$line-height-action-med: 24px;
$line-height-action-small: 20px;

// New for DS v1.2

$font-size-heading-font-size-3-xl-32: 32px;
$font-size-heading-font-size-2-xl-24: 24px;
$font-size-heading-font-size-xl-20: 20px;
$font-size-heading-font-size-large-18: 18px;
$font-size-body-font-size-md-16: 16px;
$font-size-body-font-size-sm-14: 14px;
$font-size-body-font-size-xs-12: 12px;

$font-weight---font-weight-bold: 700;
$font-weight---font-weight-semi-bold: 600;
$font-weight---font-weight-regular: 400;

$line-height-heading-font-size-3-xl-32: 40px;
$line-height-heading-font-size-2-xl-24: 32px;
$line-height-heading-font-size-xl-20: 26px;
$line-height-heading-font-size-large-18: 24px;
$line-height-body-font-size-md-16: 24px;
$line-height-body-font-size-sm-14: 20px;
$line-height-body-font-size-xs-12: 16px;

$letter-spacing--1percent: -0.01em;
