name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions: {}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    if: github.repository_owner == 'drivenets'

    permissions:
      contents: write # to create release (changesets/action)
      issues: write # to post issue comments (changesets/action)
      pull-requests: write # to create pull request (changesets/action)
      id-token: write # for npm trusted publishing

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          filter: 'blob:none'

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: 'pnpm'

      - name: Ensure latest npm
        run: npm install -g npm@latest # npm >= 11.5.1 is required for trusted publishing

      - name: Install Dependencies
        run: pnpm i

      - name: Cache turbo
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-build-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-build-

      - name: Create release PR or publish
        uses: changesets/action@v1.5.3
        with:
          publish: pnpm run release
          commit: 'chore(release): publish'
          title: 'chore(release): publish'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: '' # https://github.com/changesets/action/issues/542#issuecomment-3642334398
