name: PR

on:
  push:
    branches: ['main']

  pull_request:
    branches: ['main']

  schedule:
    - cron: '0 0 * * 6'

jobs:
  CodeQL:
    name: CodeQL Security (${{ matrix.label }})
    runs-on: ubuntu-latest
    permissions:
      # required for all workflows
      security-events: write

      # required to fetch internal or private CodeQL packs
      packages: read

    strategy:
      fail-fast: false
      matrix:
        include:
          - label: 'GitHub Actions'
            language: actions

          - label: 'TypeScript'
            language: javascript-typescript

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: ${{ matrix.language }}

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v4
        with:
          category: '/language:${{matrix.language}}'
